<% layout('/layouts/boilerplate') %>

    <div class="container mt-3">
        <div class="row">
            <h1 class="display-3 text-center">ADMIN</h1>
        </div>
        <div class="row mt-3">
            <div class="col-md-6">
                <h2>CONTACT REQUESTS</h2>
                <p class="lead">These are all the contact requests you've gotten so far.</p>
                <% for (let contact of contacts) { %>
                    <div class="card mb-2">
                        <div class="card-body">
                            <h5 class="card-title">
                                <%= contact.email %>
                            </h5>
                            <p class="card-text">
                                <%= contact.inquiry %>
                            </p>
                            <p class="card-text">
                                Posted: <%= contact.date %>
                            </p>
                            <form class="d-inline" action="/admin/<%= contact.id %>?_method=DELETE" method="POST">
                                <button class="card-link btn btn-danger">Delete</button>
                            </form>
                        </div>
                    </div>
                    <% } %>
            </div>
            <div class="col-md-6">

                <h2>ADD NEW COLLECTION</h2>
                <p class="lead">Add a new collection to the collection of collections. </p>
                <div class="card mb-2">
                    <div class="card-body">
                        <h5 class="card-title">
                            New Collection Form!
                        </h5>
                        <form action="/collections" method="POST" enctype="multipart/form-data">
                            <label for="name" class="form-label">Name</label>
                            <input type="text" class="form-control mb-2" id="name" name="name">
                            <label for="description" class="form-label">Description</label>
                            <textarea name="description" id="description" class="form-control mb-2" cols="30"
                                rows="3"></textarea>
                            <label for="image" class="form-label">Images</label>
                            <input class="form-control mb-2" type="file" id="image" name="image" multiple>
                            <button class="btn btn-success">Add Collection</button>
                        </form>
                    </div>

                </div>

                <h2>ADD NEW PROJECT</h2>
                <p class="lead">Add a new project to the collection of projects. (Yes this is copy pasted allow it) </p>
                <div class="card mb-2">
                    <div class="card-body">
                        <h5 class="card-title">
                            New Project Form!
                        </h5>
                        <form action="/projects" method="POST" enctype="multipart/form-data">
                            <label for="title" class="form-label">Title</label>
                            <input type="text" class="form-control mb-2" id="title" name="title">
                            <label for="description" class="form-label">Description</label>
                            <textarea name="description" id="description" class="form-control mb-2" cols="30"
                                rows="3"></textarea>
                            <label for="image" class="form-label">Image (only one!)</label>
                            <input class="form-control mb-2" type="file" id="image" name="image">
                            <label for="link" class="form-label">Link to Project (YouTube link, Google Drive link,
                                whatever you have but just put one)</label>
                            <input class="form-control mb-2" type="text" id="link" name="link">
                            <button class="btn btn-success">Add Collection</button>
                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>