<% layout('/layouts/boilerplate') %>

    <div class="container mt-3">
        <h1 class="text-center">COLLECTIONS</h1>
        <div class="row">
            <div class="col-4">
                <div class="card">
                    <img src="https://cdn.discordapp.com/attachments/1100975739530121307/1121893753439911996/pookal.JPG"
                        class="card-img-top" alt="Flowers">
                    <div class="card-body">
                        <p class="card-title">NATURE</p>
                        <p class="card-text">The great outdoors.</p>
                        <a href="#" class="card-link">View Collection</a>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card">
                    <img src="https://cdn.discordapp.com/attachments/1100975739530121307/1121893751758000179/Kalor.JPG"
                        class="card-img-top" alt="Colourful building with street sign in foreground">
                    <div class="card-body">
                        <p class="card-title">STREET</p>
                        <p class="card-text">The city calls.</p>
                        <a href="#" class="card-link">View Collection</a>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card">
                    <img src="https://cdn.discordapp.com/attachments/1100975739530121307/1121894386100342846/Two_bros.JPG"
                        class="card-img-top" alt="Closeup of action figures of Iron-man and Optimus Prime">
                    <div class="card-body">
                        <p class="card-title">STILL LIFE</p>
                        <p class="card-text">The simple moments.</p>
                        <a href="#" class="card-link">View Collection</a>
                    </div>
                </div>
            </div>
        </div>
    </div>