<% layout('./layouts/boilerplate') %>
    <div class="container mt-3">
        <div class="row align-items-center">
            <div class="col-lg-5 offset-lg-1">
                <img src="https://res.cloudinary.com/djxbuhpf2/image/upload/f_auto,q_auto/v1/JamalWebsite/xz6nfber0k740ydilv2i"
                    alt="" width="100%" height="100%">
            </div>
            <div class="col-lg-5" id="mainPhoto">
                <div class="card"><img
                        src="https://res.cloudinary.com/djxbuhpf2/image/upload/f_auto,q_auto/v1/JamalWebsite/nktqajbdxs4o5qsbma7e"
                        class="card-img" alt="Portrait photo" crossorigin="anonymous"></div>
            </div>
        </div>
        <div class="row mt-3 justify-content-center">
            <div class="col-lg-10">
                <div class="card mb-3" id="aboutCard">
                    <div class="row g-0">
                        <div class="col-md-4 pl-0">
                            <img src="https://res.cloudinary.com/djxbuhpf2/image/upload/f_auto,q_auto/v1/JamalWebsite/nosf3ligql39xkbvbwhf"
                                class="img-fluid rounded-start" alt="Portrait photo" crossorigin="anonymous">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h2 class="card-title display-4">ABOUT ME</h2>
                                <p class="card-text lead">My name is Anthony Amalathasan. I am a student at Humber
                                    College,
                                    in
                                    the Media Communications program; as well as
                                    someone aspiring to obtain an occupation in the media communications field. At a
                                    very
                                    young age I took a liking to
                                    movies. During my time at high school, I took the Communications-Technology program
                                    to
                                    widen my knowledge on Adobe
                                    softwares. It gave me the opportunity to learn how to create posters, as well as
                                    short
                                    films. When Covid hit, I
                                    discovered the magic of Garageband, which allowed me to use my creativity in a
                                    variety
                                    of ways. As I write this, I can
                                    confidently say that I have taken a liking to Web Design, also design using Adobe
                                    softwares, as well as photography;
                                    since they are all involving media creation.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>