<% layout('./layouts/boilerplate') %>
    <div class="container mt-3">
        <div class="row align-items-center">
            <div class="col-lg-5 offset-lg-1">
                <h1 class="display-3">ANTHONY AMALATHASAN</h1>
                <p class="lead">Creator. Lifelong Learner.</p>
            </div>
            <div class="col-lg-5" id="mainPhoto">
                <div class="card"><img
                        src="https://res.cloudinary.com/djxbuhpf2/image/upload/f_auto,q_auto/v1/JamalWebsite/nktqajbdxs4o5qsbma7e"
                        class="card-img" alt="Portrait photo" crossorigin="anonymous"></div>
            </div>
        </div>
        <div class="row mt-3 justify-content-center">
            <div class="col-lg-10">
                <div class="card mb-3" id="aboutCard">
                    <div class="row g-0">
                        <div class="col-md-4 pl-0">
                            <img src="https://res.cloudinary.com/djxbuhpf2/image/upload/f_auto,q_auto/v1/JamalWebsite/nosf3ligql39xkbvbwhf"
                                class="img-fluid rounded-start" alt="Portrait photo" crossorigin="anonymous">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h2 class="card-title display-4">ABOUT ME</h2>
                                <p class="card-text lead">My name is Anthony Amalathasan. I am a student at Humber
                                    College,
                                    in
                                    the Media Communications program; as well as
                                    someone aspiring to obtain an occupation in the media communications field. At a
                                    very
                                    young age I took a liking to
                                    movies. During my time at high school, I took the Communications-Technology program
                                    to
                                    widen my knowledge on Adobe
                                    softwares. It gave me the opportunity to learn how to create posters, as well as
                                    short
                                    films. When Covid hit, I
                                    discovered the magic of Garageband, which allowed me to use my creativity in a
                                    variety
                                    of ways. As I write this, I can
                                    confidently say that I have taken a liking to Web Design, also design using Adobe
                                    softwares, as well as photography;
                                    since they are all involving media creation.</p>
                                <div class="row align-items-center">
                                    <div class="col-1">
                                        <a href="https://www.instagram.com/tonycaptures_/"><svg
                                                xmlns="http://www.w3.org/2000/svg" width="32" height="32"
                                                viewBox="0 0 24 24">
                                                <path
                                                    d="M12 2.163c3.204 0 3.584.012 4.85.07 3.252.148 4.771 1.691 4.919 4.919.058 1.265.069 1.645.069 4.849 0 3.205-.012 3.584-.069 4.849-.149 3.225-1.664 4.771-4.919 4.919-1.266.058-1.644.07-4.85.07-3.204 0-3.584-.012-4.849-.07-3.26-.149-4.771-1.699-4.919-4.92-.058-1.265-.07-1.644-.07-4.849 0-3.204.013-3.583.07-4.849.149-3.227 1.664-4.771 4.919-4.919 1.266-.057 1.645-.069 4.849-.069zm0-2.163c-3.259 0-3.667.014-4.947.072-4.358.2-6.78 2.618-6.98 6.98-.059 1.281-.073 1.689-.073 4.948 0 3.259.014 3.668.072 4.948.2 4.358 2.618 6.78 6.98 6.98 1.281.058 1.689.072 4.948.072 3.259 0 3.668-.014 4.948-.072 4.354-.2 6.782-2.618 6.979-6.98.059-1.28.073-1.689.073-4.948 0-3.259-.014-3.667-.072-4.947-.196-4.354-2.617-6.78-6.979-6.98-1.281-.059-1.69-.073-4.949-.073zm0 5.838c-3.403 0-6.162 2.759-6.162 6.162s2.759 6.163 6.162 6.163 6.162-2.759 6.162-6.163c0-3.403-2.759-6.162-6.162-6.162zm0 10.162c-2.209 0-4-1.79-4-4 0-2.209 1.791-4 4-4s4 1.791 4 4c0 2.21-1.791 4-4 4zm6.406-11.845c-.796 0-1.441.645-1.441 1.44s.645 1.44 1.441 1.44c.795 0 1.439-.645 1.439-1.44s-.644-1.44-1.439-1.44z" />
                                            </svg>
                                        </a>
                                    </div>
                                    <div class="col-9">@_tonycaptures</div>
                                </div>
                                <div class="row align-items-center mt-2">
                                    <div class="col-1">
                                        <a href="https://www.instagram.com/_anthonyamal/?hl=en"><svg
                                                xmlns="http://www.w3.org/2000/svg" width="32" height="32"
                                                viewBox="0 0 24 24">
                                                <path
                                                    d="M12 2.163c3.204 0 3.584.012 4.85.07 3.252.148 4.771 1.691 4.919 4.919.058 1.265.069 1.645.069 4.849 0 3.205-.012 3.584-.069 4.849-.149 3.225-1.664 4.771-4.919 4.919-1.266.058-1.644.07-4.85.07-3.204 0-3.584-.012-4.849-.07-3.26-.149-4.771-1.699-4.919-4.92-.058-1.265-.07-1.644-.07-4.849 0-3.204.013-3.583.07-4.849.149-3.227 1.664-4.771 4.919-4.919 1.266-.057 1.645-.069 4.849-.069zm0-2.163c-3.259 0-3.667.014-4.947.072-4.358.2-6.78 2.618-6.98 6.98-.059 1.281-.073 1.689-.073 4.948 0 3.259.014 3.668.072 4.948.2 4.358 2.618 6.78 6.98 6.98 1.281.058 1.689.072 4.948.072 3.259 0 3.668-.014 4.948-.072 4.354-.2 6.782-2.618 6.979-6.98.059-1.28.073-1.689.073-4.948 0-3.259-.014-3.667-.072-4.947-.196-4.354-2.617-6.78-6.979-6.98-1.281-.059-1.69-.073-4.949-.073zm0 5.838c-3.403 0-6.162 2.759-6.162 6.162s2.759 6.163 6.162 6.163 6.162-2.759 6.162-6.163c0-3.403-2.759-6.162-6.162-6.162zm0 10.162c-2.209 0-4-1.79-4-4 0-2.209 1.791-4 4-4s4 1.791 4 4c0 2.21-1.791 4-4 4zm6.406-11.845c-.796 0-1.441.645-1.441 1.44s.645 1.44 1.441 1.44c.795 0 1.439-.645 1.439-1.44s-.644-1.44-1.439-1.44z" />
                                            </svg>
                                        </a>
                                    </div>
                                    <div class="col-11">@_anthonyamal</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>