<% layout('/layouts/boilerplate') %>

    <div class="container mt-3">
        <div class="row justify-content-center">
            <img src="<%= photo.src %>" alt="" id="showImage" crossorigin="anonymous">
            <% if (currentUser) { %>
                <form action="/collections/<%= id %>/<%= photo._id %>?_method=DELETE" method="POST">
                    <button class="btn btn-danger">DELETE</button>
                </form>
                <% } %>
        </div>
    </div>